div{
    h3{
        text-align: justify;
        align-content: center;
    }
    background-color: beige;
    padding: 10px;
    margin-bottom: 10px;
    }
    h3{
        font-style: inherit;
        align-content: center;
    }
    img{
        width: 400px; height: 250px;
    }